
body{

  margin: 0;
  text-align: center;
  font-family: 'merriweather', serif;
  color: #40514e;

}

h1{
  color: #66bfbf;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0;
  font-family: 'sacramento', serif;
  font-size: 3.7rem;
  font-weight: bold;
  /*top left bottom right*/
}

  /*font size: 100% = 16px = 1em
  562.5%=90px = 5.625em dynamic font sizes using %. This value is inherited so if font size is applied in the
  boby tag, that % adds to what is in the inline tag. This doesn't apply when the font size is static, i.e. in pixels.
  rem (the root em, when applied ignores all the parents settings and applies only the inline setting of font size.
  The beauty of rem is that it does not get affected by upstream size changes)*/

h2{
  color: #11999e;
  font-family:montserrat;
  font-size: 2.0rem;
  font-weight: normal;
  margin: auto;


}
h3{
  color: #11999e;
  font-family: 'montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;

}

.intro{
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.top-container{
  background-color: #eaf6f6;
  height: auto;
  width: auto;
  position: relative;
  margin-bottom: 40px;

}

.mountain-image{
    width: 50%;
    height: 50%;
    margin-bottom: 0
    }

.middle-container{
margin-top: 50px;
}
.bottom-container{
background-color: #66bfbf;
padding: 20px;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 12.5rem;
  bottom: 3.125;
}
.top-cloud{
position: absolute;
top: 3.75rem;
right: 9.375rem;
}

a{
  color: #11999e;
  margin: 20px;
  }

a:hover{
color: #eaf6f6;
}

.hobby{
  width: 30%;
  margin: auto;
}
.Nat{
  width: 15%;
  height: 15%;
  border-radius: 100%;
  margin-top: 50px;
}
.Ducks{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;

}

.Coding{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%
  /*images are floated for text to wrap around, texts are cleared from wrap around to below images*/
}

.skill-row{
  width: 50%;
  margin: 100px auto  100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me{
  margin: 50px auto 40px auto;

}

.btn {
	background-color:#66bfbf;
  background-image: linear-gradient(#11cdd4, #11999e);
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:merriweather;
	font-size:15px;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
  margin-bottom: 30px;
  margin-top: 30px;
}
.btn:hover {
	background-color:#143bff;
  background-image: linear-gradient(#30e3cb, #2bc4ad);
}
.btn:active {
	position:relative;
	top:1px;
}

.profile{
  margin-bottom: 50px;
}

hr{
  width: 5%;
  border-top: 5px dotted #eaf6f6;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.copyright{
  color: #ffffff;
  font-size: 0.75rem;
}
